<div class="sidebar">
    <div class="package-price">
        <!-- <h5 class="price">
            <span>$649</span> / per person
        </h5>
        <div class="start-wrap">
            <div class="rating-start" title="Rated 5 out of 5">
                <span style="width: 60%"></span>
            </div>
        </div> -->
    </div>
    <div class="widget-bg booking-form-wrap">
        <h4 class="bg-title">Booking</h4>
        <form #inquiryform="ngForm" class="booking-form" name="form" (ngSubmit)="inquiryform.form.valid && submitinquiryform(inquiryform)" novalidate>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group ">
                        <input type="text" name="fullName" #fullName="ngModel" required [(ngModel)]="inquiryData.fullName" placeholder="Enter Name* ">
                        <div class="error-msg" *ngIf="fullName.touched">
                            <span class="text-danger" *ngIf="fullName.errors?.required">
                     Name is Required
                     </span>
                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="form-group ">

                        <input type="text" name="phone" [(ngModel)]="inquiryData.phone" #phone="ngModel" required placeholder=" Phone Number* ">
                        <div class="error-msg" *ngIf="phone.touched">
                            <span class="text-danger" *ngIf="phone.errors?.required">
                        Phone Number is Required
                       </span>
                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="form-group ">

                        <input class="input-date-picker" type="text" name="email" [(ngModel)]="inquiryData.email" #email="ngModel" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" placeholder="Email Id" autocomplete="off">
                        <div class="error-msg" *ngIf="email.dirty || email.touched">
                            <span class="text-danger" *ngIf="email.invalid && email.errors.pattern">
                        Invalid Email
                      </span>
                        </div>
                    </div>


                </div>

                <div class="col-md-12">
                    <div class="form-group ">

                        <input type="text" name="destination" required [(ngModel)]="inquiryData.destination" #destination="ngModel" placeholder="Destination travelling* " autocomplete="off">

                        <div class="error-msg" *ngIf="destination.touched">
                            <span class="text-danger" *ngIf="destination.errors?.required">
                      Destination is Required
                   </span>
                        </div>
                    </div>


                </div>

                <div class="col-md-12">
                    <div class="form-group ">
                        <input type="text" name="noOfTravellers" [(ngModel)]="inquiryData.noOfTravellers" #noOfTravellers="ngModel" placeholder="Number Of Travelers" autocomplete="off">

                    </div>

                </div>
                <div class="col-md-12">
                    <div class="form-group ">

                        <input class="input-date-picker" type="text" name="travellingMonth" [(ngModel)]="inquiryData.travellingMonth" #travellingMonth="ngModel" placeholder="Number Of People Traveling" autocomplete="off">

                    </div>


                </div>
                <!-- <div class="col-sm-12">
                    <h4 class="">Add Options</h4>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="checkbox-list">
                   <input type="checkbox" name="s">
                   <span class="custom-checkbox"></span>
                   Tour guide
                </label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="checkbox-list">
                   <input type="checkbox" name="s">
                   <span class="custom-checkbox"></span>
                   Insurance
                </label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="checkbox-list">
                   <input type="checkbox" name="s">
                   <span class="custom-checkbox"></span>
                   Dinner
                </label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="checkbox-list">
                   <input type="checkbox" name="s">
                   <span class="custom-checkbox"></span>
                   Bike rent
                </label>
                    </div>
                </div> -->
                <div class="col-sm-12">
                    <div class="form-group submit-btn">
                        <input type="submit" name="submit" value="Enquire Now">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="widget-bg information-content text-center">
        <h5>TRAVEL TIPS</h5>
        <h3>NEED TRAVEL RELATED TIPS &amp; INFORMATION</h3>
        <p>Mollit voluptatem perspiciatis convallis elementum corporis quo veritatis aliquid blandit, blandit torquent, odit placeat. </p>
        <a href="#" class="button-primary">GET A QUOTE</a>
    </div>
    <div class="travel-package-content text-center" style="background-image: url(assets/images/img11.jpg);">
        <h5>MORE PACKAGES</h5>
        <h3>OTHER TRAVEL PACKAGES</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus.</p>
        <ul>
            <li>
                <a href="#"><i class="far fa-arrow-alt-circle-right"></i>Vacation packages</a>
            </li>
            <li>
                <a href="#"><i class="far fa-arrow-alt-circle-right"></i>Honeymoon packages</a>
            </li>
            <li>
                <a href="#"><i class="far fa-arrow-alt-circle-right"></i>New year packages</a>
            </li>
            <li>
                <a href="#"><i class="far fa-arrow-alt-circle-right"></i>Weekend packages</a>
            </li>
        </ul>
    </div>
</div>
