<ngx-slick-carousel class="row package-slider carousel" #slickModal="slick-carousel" [config]="sliderconfig" (init)="slickInit($event)" (breakpoint)="breakpoint($event)">

    <div ngxSlickItem class="col-lg-4 col-md-6 col-sm-4 slide ">
        <div class="package-wrap ">
            <figure class="feature-image ">
                <a href="# ">
                    <img src="assets/images/Leh.png " alt=" ">
                </a>
            </figure>
            <!-- <div class="package-price ">
              <h6>
                  <span>$1,900 </span> / per person
              </h6>
          </div> -->
            <div class="package-content-wrap ">
                <div class="package-meta text-center ">
                    <ul>
                        <li>
                            <i class="far fa-clock "></i> 7N/8D
                        </li>
                        <li>
                            <i class="fas fa-user-friends "></i> People: 5
                        </li>
                        <li>
                            <i class="fas fa-map-marker-alt "></i> Leh
                        </li>
                    </ul>
                </div>
                <div class="package-content ">
                    <h3>
                        <a href="# ">Leh</a>
                    </h3>
                    <div class="review-area ">
                        <span class="review-text ">(25 reviews)</span>
                        <div class="rating-start " title="Rated 5 out of 5 ">
                            <span style="width: 60% "></span>
                        </div>
                    </div>
                    <div class="innercontent ">
                        <p>Leh is a dream destination for many travellers in India and even for those who are visiting from overseas.</p>
                    </div>
                    <div class="btn-wrap ">
                        <a (click)="utilityservice.scrollToComponent('inquiryformsection')" class="button-text width-6 ">Enquire Now<i class="fas fa-arrow-right "></i></a>
                        <a href="# " class="button-text width-6 ">Know More </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ngxSlickItem class="col-lg-4 col-md-6 col-sm-4 slide ">
        <div class="package-wrap ">
            <figure class="feature-image ">
                <a href="# ">
                    <img src="assets/images/ooty.png " alt=" ">
                </a>
            </figure>
            <!-- <div class="package-price ">
              <h6>
                  <span>$1,900 </span> / per person
              </h6>
          </div> -->
            <div class="package-content-wrap ">
                <div class="package-meta text-center ">
                    <ul>
                        <li>
                            <i class="far fa-clock "></i> 7N/8D
                        </li>
                        <li>
                            <i class="fas fa-user-friends "></i> People: 5
                        </li>
                        <li>
                            <i class="fas fa-map-marker-alt "></i> Ooty
                        </li>
                    </ul>
                </div>
                <div class="package-content ">
                    <h3>
                        <a href="# ">Ooty</a>
                    </h3>
                    <div class="review-area ">
                        <span class="review-text ">(25 reviews)</span>
                        <div class="rating-start " title="Rated 5 out of 5 ">
                            <span style="width: 60% "></span>
                        </div>
                    </div>
                    <div class="innercontent ">
                        <p>Nestled amidst Nilgiri hills, Ooty, also known as Udagamandalam, is a hill station in Tamil Nadu which serves as a top-rated tourist destination.</p>
                    </div>
                    <div class="btn-wrap ">
                        <a (click)="utilityservice.scrollToComponent('inquiryformsection')" class="button-text width-6 ">Enquire Now<i class="fas fa-arrow-right "></i></a>
                        <a href="# " class="button-text width-6 ">Know More </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ngxSlickItem class="col-lg-4 col-md-6 col-sm-4 slide ">
        <div class="package-wrap ">
            <figure class="feature-image ">
                <a href="# ">
                    <img src="assets/images/Gangtok.png " alt=" ">
                </a>
            </figure>
            <!-- <div class="package-price ">
              <h6>
                  <span>$1,900 </span> / per person
              </h6>
          </div> -->
            <div class="package-content-wrap ">
                <div class="package-meta text-center ">
                    <ul>
                        <li>
                            <i class="far fa-clock "></i> 7N/8D
                        </li>
                        <li>
                            <i class="fas fa-user-friends "></i> People: 5
                        </li>
                        <li>
                            <i class="fas fa-map-marker-alt "></i> Gangtok
                        </li>
                    </ul>
                </div>
                <div class="package-content ">
                    <h3>
                        <a href="# ">Gangtok</a>
                    </h3>
                    <div class="review-area ">
                        <span class="review-text ">(25 reviews)</span>
                        <div class="rating-start " title="Rated 5 out of 5 ">
                            <span style="width: 60% "></span>
                        </div>
                    </div>
                    <div class="innercontent ">
                        <p>Incredibly alluring, pleasantly boisterous and wreathed in clouds - Gangtok, the capital of Sikkim, is one of the most popular hill stations in India.</p>
                    </div>
                    <div class="btn-wrap ">
                        <a (click)="utilityservice.scrollToComponent('inquiryformsection')" class="button-text width-6 ">Enquire Now<i class="fas fa-arrow-right "></i></a>
                        <a href="# " class="button-text width-6 ">Know More </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div ngxSlickItem class="col-lg-4 col-md-6 col-sm-4 slide ">
        <div class="package-wrap ">
            <figure class="feature-image ">
                <a href="# ">
                    <img src="assets/images/Europe.png " alt=" ">
                </a>
            </figure>
            <!-- <div class="package-price ">
              <h6>
                  <span>$1,900 </span> / per person
              </h6>
          </div> -->
            <div class="package-content-wrap ">
                <div class="package-meta text-center ">
                    <ul>
                        <li>
                            <i class="far fa-clock "></i> 7N/8D
                        </li>
                        <li>
                            <i class="fas fa-user-friends "></i> People: 5
                        </li>
                        <li>
                            <i class="fas fa-map-marker-alt "></i> Europe
                        </li>
                    </ul>
                </div>
                <div class="package-content ">
                    <h3>
                        <a href="# ">Europe</a>
                    </h3>
                    <div class="review-area ">
                        <span class="review-text ">(25 reviews)</span>
                        <div class="rating-start " title="Rated 5 out of 5 ">
                            <span style="width: 60% "></span>
                        </div>
                    </div>
                    <div class="innercontent ">
                        <p>Say the word Europe. It’s the power of one name that evokes an explosion of art, history, beauty, culture, architecture, cuisine, romance, literature…everything you’d want in a vacation spot.</p>
                    </div>
                    <div class="btn-wrap ">
                        <a (click)="utilityservice.scrollToComponent('inquiryformsection')" class="button-text width-6 ">Enquire Now<i class="fas fa-arrow-right "></i></a>
                        <a href="# " class="button-text width-6 ">Know More </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ngxSlickItem class="col-lg-4 col-md-6 col-sm-4 slide ">
        <div class="package-wrap ">
            <figure class="feature-image ">
                <a href="# ">
                    <img src="assets/images/Singapore.png " alt=" ">
                </a>
            </figure>
            <!-- <div class="package-price ">
              <h6>
                  <span>$1,900 </span> / per person
              </h6>
          </div> -->
            <div class="package-content-wrap ">
                <div class="package-meta text-center ">
                    <ul>
                        <li>
                            <i class="far fa-clock "></i> 7N/8D
                        </li>
                        <li>
                            <i class="fas fa-user-friends "></i> People: 5
                        </li>
                        <li>
                            <i class="fas fa-map-marker-alt "></i> Singapore
                        </li>
                    </ul>
                </div>
                <div class="package-content ">
                    <h3>
                        <a href="# ">Singapore</a>
                    </h3>
                    <div class="review-area ">
                        <span class="review-text ">(25 reviews)</span>
                        <div class="rating-start " title="Rated 5 out of 5 ">
                            <span style="width: 60% "></span>
                        </div>
                    </div>
                    <div class="innercontent ">
                        <p>Singapore is a melting pot of culture and history, and an extravaganza of culinary delights.</p>
                    </div>
                    <div class="btn-wrap ">
                        <a (click)="utilityservice.scrollToComponent('inquiryformsection')" class="button-text width-6 ">Enquire Now<i class="fas fa-arrow-right "></i></a>
                        <a href="# " class="button-text width-6 ">Know More </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ngxSlickItem class="col-lg-4 col-md-6 col-sm-4 slide ">
        <div class="package-wrap ">
            <figure class="feature-image ">
                <a href="# ">
                    <img src="assets/images/Thailand.png " alt=" ">
                </a>
            </figure>
            <!-- <div class="package-price ">
              <h6>
                  <span>$1,900 </span> / per person
              </h6>
          </div> -->
            <div class="package-content-wrap ">
                <div class="package-meta text-center ">
                    <ul>
                        <li>
                            <i class="far fa-clock "></i> 7N/8D
                        </li>
                        <li>
                            <i class="fas fa-user-friends "></i> People: 5
                        </li>
                        <li>
                            <i class="fas fa-map-marker-alt "></i> Thailand
                        </li>
                    </ul>
                </div>
                <div class="package-content ">
                    <h3>
                        <a href="# ">Thailand</a>
                    </h3>
                    <div class="review-area ">
                        <span class="review-text ">(25 reviews)</span>
                        <div class="rating-start " title="Rated 5 out of 5 ">
                            <span style="width: 60% "></span>
                        </div>
                    </div>
                    <div class="innercontent ">
                        <p>Thailand, a dreamy beachside paradise, that has managed to retain its cultural integrity in spite of being a major tourist destination.</p>
                    </div>
                    <div class="btn-wrap ">
                        <a (click)="utilityservice.scrollToComponent('inquiryformsection')" class="button-text width-6 ">Enquire Now<i class="fas fa-arrow-right "></i></a>
                        <a href="# " class="button-text width-6 ">Know More </a>
                    </div>
                </div>
            </div>
        </div>
    </div>






</ngx-slick-carousel>
