<div class="sidebar-container">
    <app-sidenav></app-sidenav>

    <div class="right-content min-vh-100">
        <div class="container-fluid">
            <app-page-title [title]="'Manage Package Types'" [icon]="'fa-plus'" [button]="'Add Package Type'" [url]="'/admin/categories/add'"></app-page-title>

            <div class="row">
                <div class="col-12">
                    <div class="card shadow">
                        <div class="card-body">
                            <table *ngIf="categories" datatable class="row-border hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <!-- <th>Starting Price</th> -->
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let category of categories">
                                        <td>{{ category.CategoryName }}</td>
                                        <!-- <td>{{ category.StartingPrice }}</td> -->
                                        <td>
                                            <span class="me-2 mr-1" *ngIf="category.IsActive=='Yes';else other_content">
                                              <button class="btn btn-warning btn-sm"
                                                      [swal]="{
                                                  icon: 'warning',
                                                  title: 'De-Activate Category',
                                                  html: 'Are you sure you want to de-activate <br/>&quot;<strong>' + category.CategoryName + '</strong>&quot;',
                                                  confirmButtonColor: '#D60D45',
                                                  confirmButtonText: 'Yes, Deactivate it!',
                                                  showCancelButton: true,
                                                  cancelButtonColor: '#535C68'
                                              }"
                                                      (confirm)="deactivateCategoryAction(category)"
                                              ><i class="fas fa-eye-slash me-2"></i> De-Activate</button>
                                          </span>


                                            <ng-template #other_content>
                                                <button class="btn btn-success btn-sm me-2 text-white mr-1" [swal]="{
                                      icon: 'success',
                                      title: 'Activate Category',
                                      html: 'Are you sure you want to activate <br/>&quot;<strong>' + category.CategoryName + '</strong>&quot;',
                                      confirmButtonColor: '#D60D45',
                                      confirmButtonText: 'Yes, Activate it!',
                                      showCancelButton: true,
                                      cancelButtonColor: '#535C68'
                                  }" (confirm)="activateCategoryAction(category)"><i class="fas fa-eye me-2"></i> Activate</button>
                                            </ng-template>


                                            <a class="btn btn-primary btn-sm me-2  mr-1" [routerLink]="'/admin/packages/add/'+ category.CategoryId"><i class="fas fa-plus me-2"></i> Package</a>
                                            <a class="btn btn-secondary btn-sm me-2  mr-1" [routerLink]="['/admin/categories/edit/' + category.CategoryId]"><i class="fas fa-pen me-2"></i> Edit</a>
                                            <button class="btn btn-danger btn-sm" [swal]="{
                                      icon: 'warning',
                                      title: 'Delete Category',
                                      html: 'Are you sure you want to delete <br/>&quot;<strong>' + category.CategoryName + '</strong>&quot;',
                                      confirmButtonColor: '#D60D45',
                                      confirmButtonText: 'Yes, delete it!',
                                      showCancelButton: true,
                                      cancelButtonColor: '#535C68'
                                  }" (confirm)="deleteCategoryAction(category)"><i class="fas fa-trash-alt me-2"></i> Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>