/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'scss/variables';
// Bootstrap
// @import '~bootstrap/scss/bootstrap';
// @import '~swiper/swiper-bundle';
@import 'scss/color';
@import 'scss/base';
// @import 'scss/form';
// @import 'scss/nav';
@import 'scss/slider';
@import 'scss/header-banner';
@import 'scss/simple-image-parallax';
@import 'scss/swiper';
@import 'scss/carousal';
@import 'scss/widget';
@import 'scss/searchBoxCard';
@import 'scss/serp-card';
@import 'scss/category-card';
@import 'scss/packageCards';
@import 'scss/special-package-section';
@import 'scss/destinations';
@import 'scss/itinerary';
@import 'scss/footer';
@import 'scss/enquiry';
@import 'scss/admin/sidebar-container';
@import 'scss/admin/page-title';
$theme-color-1:#3d4051;
$theme-color-2: #ced4d4;
$theme-color-3:#ffffff;
$theme-color-4: #f6f6f6;
$theme-color-5: #000;
$theme-color-6: #dae1e2;
.sticky {
    position: sticky;
    top: 77px;
    overflow: hidden;
    z-index: 1;
    background-color: #F56960;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link.active {
    color: #383838 !important;
}

.setheight {
    height: 126px;
}

.package-content {
    height: 300px;
    ;
}

.innercontent {
    height: 100px;
}

table thead tr {
    background-color: rgb(245, 245, 245) !important;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}